<!DOCTYPE html>
<html>

	<head>
		<title>Home</title>
		<link rel="stylesheet" th:href="@{/main-style.css?version=2}">
	</head>

	<body>
		<!-- barra superiore -->
		<div th:insert="~{fragments/header :: header}"></div>
		
		<!-- parte centrale del sito -->
		<section>
			<form th:action="@{/admin/newCategory}" th:object="${newCategory}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nome Categoria:</label>
                    <input type="text" th:field="*{name}" placeholder="Inserisci il nome della categoria">
                </div>
                <button type="submit">Crea Categoria</button>
		</section>

		<!-- riga in fondo -->
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>

</html>