<!DOCTYPE html>
<html>
<body>
  <header th:fragment="header" class="headerNavbar">
    <!-- Aggiunta classe "menu" qui -->
    <ul class="menu">
      <li><a class="navigationButton" th:href="@{'/'}">Home</a></li>
      <li><a class="navigationButton" th:href="@{'/'}">Di Tendenza</a></li>
      <li><a class="navigationButton" th:href="@{'/'}">Ricerca</a></li>
      <li class="dropdown">
        <a class="navigationButton" id="menu" th:href="@{'/'}">Area Personale</a>
        <ul class="dropdown-menu">
          <li><a th:href="@{'/'}">Login</a></li>
          <li><a th:href="@{'/'}">Register</a></li>
        </ul>
      </li>
    </ul>
  </header>
</body>
</html>
