<!DOCTYPE html>

<html>

	<head>
		<title>Categorie</title>
		<link rel="stylesheet" th:href="@{/css/main-style.css?version=2}">
	</head>

	<body>
		<!-- barra superiore -->
		<div th:insert="~{fragments/header :: header}"></div>

		<!-- parte centrale del sito -->
		<section>
			<div th:if="${categories.isEmpty()}">Non ci sono categorie nel sistema</div>
			<ul>
				<li th:each="category : ${categories}">
					<a th:href="@{'/category/' + ${category.id} + '?from=/category'}" th:text="${category.name}"></a>
				</li>
			</ul>
		</section>

		<!-- riga in fondo -->
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>

</html>