<!DOCTYPE html>

<html>

	<head>
		<title>Categorie</title>
		<link rel="stylesheet" th:href="@{/main-style.css?version=2}">
	</head>

	<body>
		<!-- barra superiore -->
		<header>
			<h1 class="homeButton"><a th:href="@{/}">Home</a></h1>
		</header>

		<!-- parte centrale del sito -->
		<section>
			<div th:if="${categories.isEmpty()}">Non ci sono film nel sistema</div>
			<ul>
				<li th:each="category : ${categories}">
					<a th:href="@{'/category' + '/' + ${category.id}}" th:text="${category.name}"></a>
				</li>
			</ul>
		</section>

		<!-- riga in fondo -->
		<footer>

		</footer>
	</body>

</html>