<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/main-style.css?version=2}">
</head>
<body>
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Main Content -->
    <section>
        <h1>Benvenuto nella Piattaforma di Ricette</h1>
        
        <div class="card-container">
            <a th:href="@{/recipe}" class="card">
                <i class="fa-solid fa-book-open"></i>
                <h2>Ricette</h2>
            </a>

            <a th:href="@{/ingredient}" class="card">
                <i class="fa-solid fa-carrot"></i>
                <h2>Ingredienti</h2>
            </a>

            <a th:href="@{/category}" class="card">
                <i class="fa-solid fa-tags"></i>
                <h2>Categorie</h2>
            </a>
        </div>
    </section>

    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>