<!DOCTYPE html>
<html>
<head>
    <title>Ricette</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main-style.css?version=2}">
</head>
<body>
    <!-- Header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- Main Content -->
    <section>
        <h1>Ricette Disponibili</h1>
        <div th:if="${recipes.isEmpty()}">Nessuna ricetta disponibile</div>
        <ul>
            <li th:each="recipe : ${recipes}">
                <a th:href="@{'/recipe/' + ${recipe.id}}" 
                   th:text="${recipe.name}"></a>
                <span th:text="' (Creatore: ' + ${recipe.creator.name} + ')'"></span>
            </li>
        </ul>
    </section>

    <!-- Footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>